/*
 * 	Core Popbox CSS File
 *	v2.13
 */

.popbox-container {
    z-index:9990;
    background:url(../images/blackout.png) !important;
}
.popbox-popup {
    background:#fff;
    z-index:9991;
    position:absolute;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding:15px;
}
.popbox-title {
    z-index: 9992;
    padding: 0 15px;
    height:50px;
    background: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: -15px -15px 10px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
}
.popbox-content {
    z-index:9992;
}
.popbox-close {
    right:-50px;
    top: 0;
    width:50px;
    height:50px;
    z-index:9995;
    position:absolute;
    background:#FFF;
    color: #999;
    padding:0;
	text-align: center;
    cursor:pointer;
    font-weight:bold;
    font-size:24px;
    line-height:50px;
    text-decoration:none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.popbox-close:hover {
    color:#222;
}

.popbox-gallery-loading {
    max-width:200px;
}

@media screen and (max-width: 768px) {
    .popbox-close {
        left: auto;
        right: 0;
    }
}