/*
 * 	Core Popbox CSS File
 *	v3.0.1
 */


/*** Core - Recommended not to change ***/

.popbox img, .popbox iframe, .popbox object, .popbox embed {
    max-width:100%;
}

.popbox-aspect-fit img, .popbox-aspect-fit iframe, .popbox-aspect-fit object, .popbox-aspect-fit embed {
    max-height:100%;
    display:block;
    margin:0;
}

.popbox-overlay {
    background:rgb(230,230,230);
    background:rgba(0,0,0,0.4);
}

.popbox {
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
}

.popbox-popup {
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    background:#fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    /* Never set a margin or padding greater than 0. Use popbox-content for that. */
    padding:0;
    margin:0;
}

.popbox-container {
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    padding:0;
    margin:0;
}

.popbox-loading img {
    display:block;
}


/*** Core Custom - freely modify below ***/

.popbox-loading {
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background:url(../images/loading.gif) no-repeat 0 0;
}

.popbox .popbox-close {
    padding:15px;
    margin:0;
    background:transparent;
    display:block;
    position:absolute;
    top:0;
    left:100%;
    text-decoration:none;
    color:#555;
    font-weight:bold;
    font-size:1.2em;
    line-height:20px;
}

.popbox .popbox-close:hover {
    color:#333;
}

.popbox .popbox-title {
    padding:15px;
    background:#ccc;
    line-height:20px;
    font-size:1em;
}

.popbox .popbox-content {
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    padding:15px;
}

.popbox-aspect-fit .popbox-content {
    padding:15px;
}


/*** Gallery - freely modify below ***/

.popbox-gallery-next, .popbox-gallery-prev {
    position:absolute;
    top:0;
    bottom:0;
    width:50%;
    color:#000;
    background:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat;
}

.popbox-gallery-next span, .popbox-gallery-prev span {
    position:absolute;
    top:0;
    bottom:0;
    margin: auto 5%;
    padding:0;
    height:32px;
    width:32px;
    line-height:32px;
    background:#fff;
    border-radius:50%;
    text-align:center;
}

.popbox-gallery-next, .popbox-gallery-next span {
    right:0;
}

.popbox-gallery-prev, .popbox-gallery-prev span {
    left:0;
}

.popbox-gallery-error {
    padding:15px;
}