.popbox-loading {
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background:url(../images/loading.gif) no-repeat 0 0;
}

.popbox .popbox-close {
    padding:15px;
    margin:0;
    background:transparent;
    display:block;
    position:absolute;
    top:0;
    left:100%;
    text-decoration:none;
    color:#555;
    font-weight:bold;
    font-size:1.2em;
    line-height:20px;
}

.popbox .popbox-close:hover {
    color:#333;
}

.popbox .popbox-title {
    padding:15px;
    background:#ccc;
    line-height:20px;
    font-size:1em;
}

.popbox-fit .popbox-content {
    padding:0;
}
