.popbox-gallery {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popbox-gallery-next, .popbox-gallery-prev {
    position:absolute;
    top:0;
    bottom:0;
    width:2em;
    color:#000;
    background:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat;
}

.popbox-gallery-next span, .popbox-gallery-prev span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 0.6em;
}

.popbox-gallery-next {
    left:100%;
}

.popbox-gallery-prev {
    right:100%;
}

.popbox-gallery-error {
    padding:15px;
}
